### Maven ###
target/
*.jar
*.war
*.ear
*.log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

### IntelliJ IDEA ###
out/
.idea/
*.iml
*.iws
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Demo data files ###
demo_datasource.txt
demo_service.txt